# Created by venv; see https://docs.python.org/3/library/venv.html
venv/Lib
'.idea/workspace.xml
# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
.env
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
*.log
/staticfiles/
media/

# IDEs
.vscode/
.idea/
